*{
	font-family: "微软雅黑";
	margin:0;
	padding: 0;
}
ul,li{
	list-style: none;
}
body{
	background:#f1f1f1;
	width:100%;
}


.clearfix:before,.clearfix:after {
content:".";
display:block;
height:0;
visibility:hidden;
}
.clearfix:after { clear:both; }/* For IE 6/7 (trigger hasLayout) */
.clearfix { zoom:1; }

/*-------------------------------------------------------*/
#head{
	width:100%;
	height:20%;
	float:left;
	min-width: 90%;
	float:left;
}

#ershoushu{
	width:60%;
	margin-left: 2%;
	margin-top:2%;
	max-width: 100%;
}

#shopping_cart{
	width:4%;
	height:4%;
	margin-left: 27%;
	margin-bottom: 1%;
	max-width: 100%;
}


/*-------------------------------------------------------*/
#title{
	width:100%;
	height:30%;
	float:left;
	min-width: 90%;
}


#nianji_title{
	color:white;
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 14px;
	float:left;
	text-align: center;
    padding:1.7% 6%;
	font-size:100%;
	background-color:#D95C5C;
	margin-left: 2%;
	margin-top:2%;
	margin-right: 5%;
}


#nianji{
	display: none;
}


.nianji{
	float:left;
	margin-top:2.5%;
	padding: 1% 5%;
	font-size: 100%;
	color:black;
	font-family: "微软雅黑";
	border-width: 3px;
	font-weight: bold;
	border:groove;
	border-width:1px;
}




.nianji:hover{
	color:white;
	font-weight: bolder;
	background-color:#D95C5C;
}

/*-------------------------------------------------------*/

#xueyuan_title{
	padding: 1.7% 6%;
	float:left;
	font-size:100%;
	font-family: "微软雅黑";
	font-weight: bold;
	margin-left:2%;
	color:white;
	background-color: #00B5AD;
	margin-top: 1%;
}

/*-------------------------------------------------------*/
#left-nav{
	width:15%;
	height:50%;
	float:left;
	margin-top:2%;
	margin-left:2%;
}

.xueyuan{
    line-height:400%;
	text-align: center;
	font-size:70%;
	font-family: "微软雅黑";
	font-weight: bold;
	color:black;
	border:groove;
	border-width:1px;
	margin-right:15%;
	min-width: 60px;
}


.xueyuan:hover{
	color:white;
	font-weight: bolder;
	background-color:#00B5AD;
}


/*-------------------------------------------------------*/
#content{
	margin-top:2%;
	float:left;
	width:60%;
	height:70%;
	margin-left:10%;
}


.contents{
	float:left;
	width:50%;
	height:30%;
	text-align: center;
	min-width:200px;
}


.line{
	width:50%;
	height:40%;
	float:left;
}
.article{
	float:left;
	text-align: center;
	margin-left: 5%;
	margin-bottom: 20%;
	font-family: "微软雅黑";
	font-size: 60%;
	font-weight: bold;
}




.pic{
	max-width: 100%;
	float:left;
	width:66%;
	height:30%;
	margin-left: 14%;
	margin-right: 5%;
}
